<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome, Adventurer!</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>State your name:</label>
        <br>
        <input #newName>
        <label>What is your gender?:</label>
        <br>
        <select #newGender>
          <option>Other</option>
          <option>Female</option>
          <option>Male</option>
        </select>
        <label>What did your father do for a living?:</label>
        <br>
        <input #newBody>
        <button></button>
        <label>What does your mother do for a living?:</label>
        <br>
        <input #newHeart>
        <button></button>
        <label>How did you spend your childhood?</label>
        <br>
        <input #newMind>
        <button></button>
        <label>What do you do for a living now?</label>
        <br>
        <input #newSpirit>
        <button></button>
      </div>

      <button (click)="submitForm(newName.value); newName.value='' ">Add</button>
    </div>
  </div>
</div>

<footer class="footer">
  <div *ngIf="name" class="container">
    <a class="text-muted">Name: {{Player.name}} Points: {{Player.points}}</a>
  </div>
</footer>
